* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background: linear-gradient(72deg, #FFE53B 3%, #00FFFF 99%);
}
.imagem-congregacao {
    text-align: center;
    
}

.congregacao-img {
position: relative; 
width: 80%;
height: 400px;
filter: blur(3px); 
}

.titulo {
    color: rgb(252, 249, 249);
    text-align: center;
      font-family: 'Amatic SC', cursive; 
      position: absolute;
      top: 145px;
     left: 200px; 
     font-size: 50px;
    }
header {
    background-color: black;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 20px;
}

header :hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.segunda-pagina {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    text-align: center;
    
}

.titulo-primeiro {
    margin-left: 50px;
    color:rgb(252, 249, 249);;
    font-size: 50px;
}

.caixa {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20%;
}
.paragrafo {
    margin-top: 25px;
    margin-left: 100px;
    font-weight: bolder;
    font-size: 20px;
}

.segunda-pagina caixa {
    display: inline-block;
    margin-left: 100px;
}


.minsterioh1 {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: orange;
    font-size: 50px;
    padding-top: 20px;

}

.ministerios {
    justify-content: center;
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.imagens {

    height: 50%;
    width: 50%;
}

.div-ministerios {
    background-color: rgb(249, 241, 228);
    color: black;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-left: 10px;
    border-radius: 20%;
}

.projetos {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(249, 241, 228);
    color: orange;
    font-size: 50px;
    padding-top: 30px;

}

.section-projetos {
    background-color: rgb(249, 241, 228);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.div-projetos {
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
    margin-right: 70px;
    background-color: black;
    color: orange;
    cursor: pointer;
    border-radius: 250px;
}

.div-horarios {
    background-color: black;
}

.div-horarios h1 {
    color: orange;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

}

.horarios-semanais {
    background-color: rgb(249, 241, 228);;
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 350px;
    justify-content: center;
    display: block;
    align-self: center;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
}

.mapa {
    background-color: rgb(249, 241, 228);;
    padding-top: 20px;
}



